#searchButton {
    background-color: #4262FF;
    color: #FFFFFF;
    font-size: 18px;
}

#searchButton:hover {
    background-color: #261ab4;
}

.search {
    border-radius: 32px;
    margin: 0 0 10px 0;
    width: 448px;
    height: 48px;
}

.heroForm input:focus {
    background-color: aliceblue;
}

.headFont {
    color: #050038;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1px;
    margin: 60px 0 0 40px;
}

p {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
}

.parNewsHead {
    color: #050038;
    margin: 17px 0 0 40px;

}

.parNews {
    color: #686786;
    margin: 19px 0 0 40px;

}

header a {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #050038;
    text-decoration: none;
    padding-right: 50px;
}

.link {
    color: #4262FF;
    text-decoration: underline;
    margin: 39px 0 0 40px;
}

.link:hover {
    color: #261ab4;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

hr {
    border-color: #ffffff;
}

.sectionList {
    list-style: none;
}

.sectionList li::marker {
    content: url("../images/check.svg");

}

.heroForm {
    margin: 55px 0 0 40px;
}


.heroForm+p {
    color: #050038;
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    margin: 8px 0 0 40px;
}

/* animation */

/* .exp div {
    width: 200px;
    height: 200px;
    background-color: #050038;
    margin: 10px;
    animation: my-move 2s ease forwards;
}

@keyframes my-move {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%) translateY(-100%);
    }
} */